@use "@/styles/helpers" as *;

.head {
    display: flex;
    align-items: center;
    margin-bottom: rem(24);
    @include xl {
        margin-bottom: rem(8);
    }
}

.title {
    margin-right: auto;
    @include title;
    color: $n5;
    @include w {
        @include base;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(-8);
}

.action {
    display: flex;
    align-items: center;
    margin: rem(8) 0 0 rem(32);
    @include title;
    color: $n1;
    @include w {
        @include base;
    }
    svg {
        margin-right: rem(12);
        fill: $n5;
        transition: fill .2s;
    }
    &:nth-child(1) {
        @include d {
            display: none;
        }
    }
    &:hover {
        svg {
            fill: $n1;
        }
    }
}

.details {
    margin-bottom: rem(24);
    padding: rem(32) rem(40);
    border-radius: rem(24);
    background: $o7-75;
    @include xl {
        padding: rem(16);
    }
}

.code {
    display: inline-flex;
    gap: rem(4);
    align-items: center;
    // margin-bottom: rem(12);
    padding: rem(8);
    background: $o6;
    border-radius: rem(12);
    @include base;
    color: $n1;
    @include xl {
        @include baseS;
    }
    &:after {
        content: "";
        display: none;
        width: rem(16);
        height: rem(16);
        margin-left: rem(12);
        border-radius: 50%;
        background: $a4;
    }
}

.success::after {
  display: block;
}

.line {
    display: flex;
    justify-content: space-between;
    @include rh(900) {
        @include h3M;
    }
    @include xl {
        @include h3S;
    }
    @include d {
        @include h3S;
    }
    @include m {
        @include h4S;
    }
}

.crypto {
    color: $n3;
}

.price {
    color: $n5;
}

.walletInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(12);
}

.signin {
    @include base;
    color: $n1;
    display: inline-flex;
    gap: rem(5);
}

.lines {
    display: flex;
    flex-direction: column;
    &:before,
    &:after {
        content: "";
        display: block;
        height: rem(12);
        border-radius: rem(4);
        background: $n3;
    }
    &:before {
        width: rem(200);
        margin-bottom: rem(12);
        @include m {
            width: rem(160);
        }
    }
    &:after {
        width: rem(123);
        @include m {
            width: rem(100);
        }
    }
}