@use "@/styles/helpers" as *;

.upload {
    display: flex;
    align-items: center;
    margin-top: rem(24);
    @include m {
        display: block;
    }
}

.preview {
    position: relative;
    flex-shrink: 0;
    width: rem(200);
    height: rem(200);
    margin-right: rem(40);
    border-radius: rem(32);
    // background: #BDC4C4;
    @include w {
        width: rem(170);
        height: rem(170);
        margin-right: rem(24);
    }
    @include m {
        margin: 0 0 rem(24);
    }
    img {
        border-radius: rem(32);
    }
}

.title {
    margin-bottom: rem(12);
    @include d {
        @include h4S;
    }
}

.content {
    max-width: rem(255);
    margin-bottom: rem(32);
    @include baseMedium;
    color: $n5;
    @include w {
        margin-bottom: rem(24);
    }
    @include d {
        margin-bottom: rem(12);
    }
}
