@import "tailwindcss";

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}

.bg-hero-section-title {
    background-image: linear-gradient(91deg, var(--foreground) 32.88%, #fff6 99.12%);
}