@use "../helpers" as *;

.hero,
.h1,
.h2,
.h3,
.h4 {
    font-weight: 800;
}

.h1,
.h2,
.h3,
.h4 {
    letter-spacing: -0.02em;
}

.hero {
    font-size: rem(104);
    line-height: 1;
    @include xl {
        font-size: rem(80);
        line-height: 1;
        letter-spacing: -0.02em;
    }
    @include d {
        @include heroS;
    }
}

.h1 {
    font-size: rem(80);
    line-height: 1;
    @include w {
        @include h1M;
    }
    @include m {
        @include h1S;
    }
}

.h2 {
    font-size: rem(64);
    line-height: 1;
    @include w {
        @include h3M;
    }
}

.h3 {
    font-size: rem(48);
    line-height: 1;
    @include w {
        @include h3M;
    }
    @include m {
        @include h3S;
    }
}

.h4 {
    font-size: rem(32);
    line-height: rem(40);
}
