@use "@/styles/helpers" as *;

.scan {
    margin: auto 0;
}

.title {
    margin-bottom: rem(48);
    color: $n1;
    @include t {
        margin-bottom: rem(24);
    }
}

.code {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(460);
    border-radius: rem(32);
    background: $o7-50;
    @include d {
        height: rem(432);
    }
    @include m {
        height: rem(327);
        border-radius: rem(28);
    }
}

.lines {
    span {
        position: absolute;
        width: rem(40);
        height: rem(40);
        border-style: solid;
        border-color: $n6;
        pointer-events: none;
        @include m {
            width: rem(34);
            height: rem(34);
        }
        &:nth-child(1),
        &:nth-child(2) {
            top: rem(16);
            @include m {
                top: rem(12);
            }
        }
        &:nth-child(2),
        &:nth-child(3) {
            right: rem(16);
            @include m {
                right: rem(12);
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            bottom: rem(16);
            @include m {
                bottom: rem(12);
            }
        }
        &:nth-child(1),
        &:nth-child(4) {
            left: rem(16);
            @include m {
                left: rem(12);
            }
        }
        &:nth-child(1) {
            border-width: rem(1) 0 0 rem(1);
            border-top-left-radius: rem(24);
            @include m {
                border-top-left-radius: rem(21);
            }
        }
        &:nth-child(2) {
            border-width: rem(1) rem(1) 0 0;
            border-top-right-radius: rem(24);
            @include m {
                border-top-right-radius: rem(21);
            }
        }
        &:nth-child(3) {
            border-width: 0 rem(1) rem(1) 0;
            border-bottom-right-radius: rem(24);
            @include m {
                border-bottom-right-radius: rem(21);
            }
        }
        &:nth-child(4) {
            border-width: 0 0 rem(1) rem(1);
            border-bottom-left-radius: rem(24);
            @include m {
                border-bottom-left-radius: rem(21);
            }
        }
    }
}

.foot {
    margin-top: rem(40);
    text-align: center;
}

.info {
    margin-bottom: rem(4);
    @include base;
    color: $n5;
}

.question {
    @include base;
    color: $n1;
    transition: color .2s;
    &:hover {
        color: $s2;
    }
}
