@use "sass:math";

@mixin inter {
    font-family: "Inter", sans-serif;
}

// to vw
@function vw($px-vw, $base-vw: 1600) {
    @return math.div($px-vw * 100vw, $base-vw);
}

// to REM
@function rem($value) {
    @return math.div($value, 16) * 1rem;
}

@mixin title {
    font-size: rem(18);
    line-height: rem(36);
    letter-spacing: -0.01em;
    font-weight: 700;
}

@mixin body1 {
    font-size: rem(24);
    line-height: rem(32);
    letter-spacing: -0.02em;
    font-weight: 700;
}

@mixin body1M {
    font-size: rem(20);
    line-height: rem(24);
}

@mixin body1S {
    font-size: rem(16);
    line-height: rem(24);
}

@mixin body2 {
    font-size: rem(20);
    line-height: rem(32);
    letter-spacing: -0.02em;
    font-weight: 500;
}

@mixin body2Bold {
    font-size: rem(20);
    line-height: rem(32);
    letter-spacing: -0.02em;
    font-weight: 700;
}

@mixin body2M {
    font-size: rem(16);
    line-height: rem(24);
}

@mixin base {
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: -0.01em;
    font-weight: 700;
}

@mixin baseMedium {
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: -0.01em;
    font-weight: 500;
}

@mixin baseM {
    font-size: rem(15);
    line-height: rem(24);
}

@mixin baseS {
    font-size: rem(14);
    line-height: rem(20);
}

@mixin caption {
    font-size: rem(14);
    line-height: rem(20);
    font-weight: 500;
    letter-spacing: -0.02em;
}

@mixin captionBold {
    font-size: rem(14);
    line-height: rem(20);
    font-weight: 700;
    letter-spacing: -0.02em;
}

@mixin captionSmall {
    font-size: rem(12);
    line-height: rem(16);
    font-weight: 600;
    letter-spacing: -0.02em;
}

@mixin button {
    font-size: rem(12);
    line-height: rem(24);
    font-weight: 800;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}

// responsive titles
@mixin heroM {
    font-size: rem(96);
}

@mixin heroS {
    font-size: rem(64);
    letter-spacing: -0.02em;
}

@mixin h1M {
    font-size: rem(64);
}

@mixin h1S {
    font-size: rem(48);
}

@mixin h2M {
    font-size: rem(48);
}

@mixin h3M {
    font-size: rem(40);
    line-height: rem(48);
}

@mixin h3S {
    font-size: rem(32);
    line-height: rem(40);
}

@mixin h4S {
    font-size: rem(24);
    line-height: rem(32);
}
