// media queries
@mixin xl {
    @media only screen and (max-width: "1579px") {
        @content;
    }
}
@mixin w {
    @media only screen and (max-width: "1419px") {
        @content;
    }
}
@mixin x {
    @media only screen and (max-width: "1339px") {
        @content;
    }
}
@mixin d {
    @media only screen and (max-width: "1259px") {
        @content;
    }
}
@mixin t {
    @media only screen and (max-width: "1023px") {
        @content;
    }
}
@mixin m {
    @media only screen and (max-width: "767px") {
        @content;
    }
}
@mixin a {
    @media only screen and (max-width: "639px") {
        @content;
    }
}
@mixin s {
    @media only screen and (max-width: "474px") {
        @content;
    }
}

@mixin r($width) {
    @media only screen and (max-width: #{$width}px) {
        @content;
    }
}

@mixin rmin($width) {
    @media only screen and (min-width: #{$width}px) {
        @content;
    }
}

@mixin rh($height) {
    @media screen and (max-height: #{$height}px) {
        @content;
    }
}
    
// colors
$a1: #BCE6EC;
$a2: #B9A9FB;
$a3: #FFA6D6;
$a4: #DBFF73;

$s1: #6DD3C2;
$s2: #1966F7;

$red: #FF5C17;

// colors neutral
$n0: #FFFFFF;
$n1: #F7FBFA;
$n2: #F1F4F4;
$n3: #E1E2E2;
$n4: #A6AEAD;
$n5: #686A6C;
$n6: #555555;
$n7: #202025;
$n8: #010101;

// opacity
$o1: rgba($n1, .5);
$o3: rgba($n3, .5);
$o5: rgba($n5, .75);
$o6: rgba($n6, .5);
$o7-50: rgba($n7, .5);
$o7-75: rgba($n7, .75);

$shade: #898E8E;

$grd: conic-gradient(from 180deg at 50% 50%, #5FFF5C -18.66deg, #FFE249 22.23deg, #F35950 78.14deg, #7C5BFF 159deg, #1CE4FF 202.32deg, #5FFF5C 341.34deg, #FFE249 382.23deg);

// @mixin shadow1 {
//     box-shadow: 0 #{rem(32)} #{rem(48)} #{rem(-16)} rgba(0, 0, 0, 0.1);
// }

// @mixin shadow2 {
//     box-shadow: 0 #{rem(12)} #{rem(40)} #{rem(-16)} rgba(0, 0, 0, 0.05);
// }
