@use "@/styles/helpers" as *;

.profile {
    position: relative;
    @include m {
        position: static;
    }
    &.active {
        .head {
            &:before {
                box-shadow: inset 0 0 0 rem(4) $n1;
            }
        }
        .body {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
    }
}

.head {
    position: relative;
    width: rem(48);
    height: rem(48);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include m {
        width: rem(40);
        height: rem(40);
    }
    img {
        border-radius: 50%;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 rem(2) $o1;
        transition: box-shadow .2s;
    }
}

.body {
    position: absolute;
    top: calc(100% + rem(40));
    right: rem(-70);
    width: rem(760);
    max-height: calc(100vh - rem(128));
    padding: 5.5vh rem(40) 2.4vh;
    background: $n8;
    border-radius: rem(32);
    overflow: auto;
    transform: translateY(rem(20));
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    @include rh(900) {
        width: rem(640);
        padding: rem(40) rem(40) rem(20);
    }
    @include xl {
        width: rem(640);
        padding: rem(40) rem(40) rem(20);
    }
    @include w {
        width: rem(560);
    }
    @include d {
        width: rem(480);
    }
    @include m {
        top: 100%;
        left: rem(16);
        right: rem(16);
        z-index: 12;
        width: auto;
        max-height: calc(100vh - rem(104));
        padding: rem(24) rem(24) rem(12);
    }
    .close {
        position: absolute;
        top: rem(24);
        right: rem(24);
        border-color: $n6;
        @include d {
            top: rem(16);
            right: rem(16);
        }
        @include m {
            top: rem(4);
            width: rem(40);
            height: rem(40);
            border: none;
        }
        svg {
            fill: $n1;
        }
        &:hover {
            background: $n7;
            border-color: $n7;
        }
    }
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: rem(32);
    padding-bottom: rem(32);
    border-bottom: rem(1) solid $n7;
    @include rh(900) {
        margin-bottom: rem(24);
        padding-bottom: rem(24);
    }
    @include xl {
        margin-bottom: rem(24);
        padding-bottom: rem(24);
    }
}

.avatar {
    position: relative;
    flex-shrink: 0;
    width: rem(84);
    height: rem(84);
    margin-right: rem(32);
    @include d {
        margin-right: rem(24);
    }
    @include m {
        width: rem(72);
        height: rem(72);
        margin-right: rem(16);
    }
    img {
        border-radius: 50%;
    }
}
    
.man {
    color: $n1;
    @include xl {
        @include h3S;
    }
    @include m {
        @include h4S;
    }
}

.login {
    @include body2Bold;
    color: $n5;
    @include m {
        @include base;
    }
}

.link {
    padding: 1.8vh rem(40);
    @include rh(900) {
        font-size: rem(32);
        line-height: rem(40);
    }
    @include xl {
        padding: rem(16);
        @include h4S;
    }
    @include d {
        @include h4S;
    }
    @include m {
        padding: rem(12) rem(16);
    }
    &:not(:last-child) {
        border-bottom: rem(1) solid $n7;
    }
}
