@use "@/styles/helpers" as *;

.search {
    position: relative;
    @include t {
        margin: 0 rem(-40);
    }
    @include m {
        margin: 0 rem(-24);
    }
    &.active {
        .field {
            visibility: visible;
            opacity: 1;
        }
        .toggle {
            svg {
                &:nth-child(1) {
                    opacity: 0;
                }
                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
    &.visible {
        .clear {
            visibility: visible;
            opacity: 1;
        }
    }
    &.light {
        .toggle {
            svg {
                fill: $n2;
            }
            &:hover {
                svg {
                    fill: $n1;
                }
            }
        }
        .input {
            color: $n1;
            &:focus {
                border-color: $n1;
            }
        }
        .clear {
            color: $n3;
            &:hover {
                color: $n1;
            }
        }
    }
}

.field {
    position: absolute;
    top: 50%;
    right: 0;
    width: rem(424);
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibilty .2s, opacity .2s;
    @include w {
        width: rem(350);
    }
    @include d {
        width: rem(254);
    }
    @include t {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

.input {
    width: 100%;
    height: rem(52);
    padding: 0 rem(98) 0 rem(14);
    border: rem(2) solid $n3;
    border-radius: rem(12);
    background: transparent;
    @include title;
    color: $n7;
    transition: border-color .2s;
    @include t {
        height: rem(80);
        padding: 0 rem(150) 0 rem(40);
        border-width: 0 0 rem(1);
        border-color: $n7;
        border-radius: 0;
        @include h4S;
        color: $n1;
    }
    @include m {
        padding: 0 rem(120) 0 rem(24);
        font-size: rem(20);
    }
    &::placeholder {
        color: $n4;
    }
    &:focus-visible {
        border-color: $s2;
        @include t {
            border-color: $n7;
        }
    }
}

.toggle,
.clear {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.toggle {
    right: 0;
    flex-shrink: 0;
    width: rem(40);
    height: rem(40);
    @include t {
        width: rem(96);
        height: rem(80);
        pointer-events: none;
    }
    @include m {
        width: rem(68);
    }
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        fill: $n4;
        transition: all .2s;
        &:nth-child(2) {
            opacity: 0;
        }
    }
    &:hover {
        svg {
            fill: $n8;
        }
    }
}
    
.clear {
    right: rem(40);
    @include button;
    color: $n4;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    @include t {
        right: rem(84);
    }
    @include m {
        right: rem(56);
    }
    &:hover {
        color: $s2;
    }
}

.result {
    position: absolute;
    top: calc(100% + rem(38));
    right: 0;
    width: rem(424);
    max-height: calc(100vh - rem(102));
    padding: rem(40) 0;
    background: $n1;
    border-radius: rem(12);
    border: rem(1) solid $n3;
    // @include shadow1;
    transform: translateY(rem(16));
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
    @include t {
        top: calc(100% + rem(4));
        left: rem(24);
        right: rem(24);
        z-index: 5;
        width: auto;
        max-height: calc(100vh - rem(186));
        transform: translateY(0);
        border: rem(1) solid $o6;
        background: $n7;
    }
    @include m {
        left: rem(16);
        right: rem(16);
        max-height: calc(100vh - rem(156));
    }
    &.visible {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

.group {
    &:not(:last-child) {
        margin-bottom: rem(32);
    }
}

.category {
    padding: 0 rem(24);
    @include button;
    color: $n4;
}
