@use "@/styles/helpers" as *;

.avatar {
    position: relative;
    width: 100%;
    height: 100%;
    
    .hat {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
    }
    .hair {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
    }
    .cheek {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .glasses {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    .eye {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .mouth {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .outfit {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .face {
        position: absolute;
        top: 0;
        left: 0;
    }
}