@use "@/styles/helpers" as *;

.burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: rem(40);
    height: rem(40);
    padding: rem(8);
    &:before,
    &:after {
        content: "";
        height: rem(3);
        margin: rem(3) auto;
        background: $n7;
        border-radius: rem(2);
        transition: width .2s, background .2s;
    }
    &:before {
        width: rem(24);
    }
    &:after {
        width: rem(18);
        margin-left: 0;
    }
    &:hover {
        &:after {
            width: rem(24);
        }
    }
}

div.modal {
    display: block;
    .close {
        top: rem(18);
        right: rem(22);
        border: none;
        @include w {
            top: rem(24);
            right: rem(29);
        }
        @include d {
            right: rem(12);
        }
        @include m {
            top: rem(20);
            right: rem(11);
        }
        svg {
            width: rem(32);
            height: rem(32);
            @include w {
                width: rem(24);
                height: rem(24);
            }
        }
        &:hover {
            @include t {
                background: none;
            }
        }
    }
}
        
.row {
    display: flex;
    flex-grow: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    width: 50%;
    padding: rem(80);
    @include xl {
        padding: rem(64);
    }
    @include w {
        padding: rem(40);
    }
    @include t {
        flex: 0 0 100%;
        width: 100%;
        padding-top: rem(80);
    }
    @include m {
        padding: rem(56) rem(24) rem(24);
    }
    &:nth-child(1) {
        justify-content: flex-end;
        background: $a2;
        @include t {
            display: none;
        }
    }
}

.title {
    margin-bottom: rem(40);
    @include xl {
        @include h1M;
    }
    @include w {
        max-width: rem(400);
        @include h1S;
    }
}

.socials {
    display: flex;
    margin: 0 rem(-12);
    @include d {
        margin: 0 rem(-6);
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: rem(56);
    margin: 0 rem(12);
    border-radius: rem(12);
    background: $n1;
    transition: background .2s;
    @include d {
        margin: 0 rem(6);
        border-radius: rem(8);
    }
    svg {
        fill: $n8;
        transition: fill .2s;
    }
    &:hover {
        background: $n8;
        svg {
            fill: $n1;
        }
    }
}

.menu {
    margin: auto rem(-80);
    @include xl {
        margin: auto rem(-64);
    }
    @include w {
        margin: auto rem(-40);
    }
    @include m {
        margin: auto rem(-24);
    }
}

.link {
    padding: 2vh rem(80);
    border-bottom: rem(1) solid $n7;
    @include xl {
        padding: 2vh rem(64);
        @include h3M;
    }
    @include w {
        padding: 2vh rem(40);
        @include h3S;
    }
    @include d {
        @include h4S;
    }
    @include t {
        @include h3S;
    }
    @include m {
        padding: 2vh rem(24);
        @include h4S;
    }
}

.info {
    margin: rem(32) 0;
    color: $n4;
    @include w {
        @include h4S;
    }
    @include m {
        margin: rem(40) 0 rem(12);
        @include body1S;
    }
}

.btns {
    display: flex;
    @include d {
        margin: 0 rem(-10);
    }
    @include m {
        display: block;
        margin: 0;
    }
}

.button {
    @include d {
        flex: 0 0 calc(50% - rem(20));
        width: calc(50% - rem(20));
        margin: 0 rem(10);
        padding: 0 rem(16);
    }
    @include m {
        width: 100%;
        margin: 0;
    }
    &:not(:last-child) {
        margin-right: rem(20);
        @include d {
            margin-right: rem(10);
        }
        @include m {
            margin: 0 0 rem(20);
        }
    }
}
