@use "@/styles/helpers" as *;

.body {
    display: flex;
    justify-content: space-between;
    padding: rem(80) rem(80) rem(40);
    @include xl {
        padding: rem(80) rem(64) rem(40);
    }
    @include w {
        padding: rem(80) rem(40) rem(40);
    }
    @include t {
        padding: rem(48) rem(24) rem(40);
    }
    @include m {
        display: block;
        padding-top: rem(40);
    }
}

.logo {
    width: rem(218);
    margin-bottom: rem(20);
    @include m {
        margin-bottom: rem(12);
    }
}

.info {
    @include body2Bold;
    color: $n5;
}

.group {
    display: flex;
    margin-left: rem(40);
    @include m {
        margin: rem(32) 0 0;
    }
}

.item {
    min-width: rem(144);
    @include xl {
        min-width: rem(128);
    }
    @include d {
        min-width: rem(118);
    }
    @include m {
        min-width: auto;
    }
    &:last-child {
        @include m {
            padding-top: rem(40);
            .category {
                display: none;
            }
            .link {
                font-size: 0;
            }
        }
    }
    &:not(:last-child) {
        margin-right: rem(104);
        @include d {
            margin-right: rem(40);
        }
        @include t {
            margin-right: rem(24);
        }
        @include m {
            margin-right: auto;
            padding-right: rem(20);
        }
    }
}

.category {
    margin-bottom: rem(32);
    @include button;
    @include m {
        margin-bottom: rem(16);
    }
}

.menu {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    min-height: rem(24);
    @include caption;
    color: $n5;
    transition: color .2s;
    svg {
        margin-right: rem(8);
        fill: $n5;
        transition: fill .2s;
        @include m {
            margin-right: 0;
        }
    }
    &:hover {
        color: $s2;
        svg {
            fill: $s2;
        }
    }
    &:not(:last-child) {
        margin-bottom: rem(20);
        @include m {
            margin-bottom: rem(14);
        }
    }
}

.foot {
    display: flex;
    align-items: center;
    padding: rem(32) rem(80);
    border-top: rem(1) solid $n3;
    @include caption;
    color: $n4;
    @include xl {
        padding: rem(32) rem(64);
    }
    @include w {
        padding: rem(32) rem(40);
    }
    @include t {
        padding: rem(24);
    }
    @include m {
        display: block;
    }
}

.copyright {
    margin-right: auto;
}

.cookies {
    margin-left: rem(24);
    @include m {
        margin: rem(16) 0 0;
    }
    .button {
        margin-left: rem(40);
        @include w {
            margin-left: rem(24);
        }
        @include m {
            margin-left: rem(6);
        }
    }
}
