@use "@/styles/helpers" as *;

.row {
    display: flex;
    @include t {
        display: block;
    }
}

.col {
    flex: 0 0 50%;
    @include t {
        width: 100%;
    }
    &:nth-child(2) {
        padding: rem(80);
        @include xl {
            padding: rem(64);
        }
        @include w {
            padding: rem(64) rem(40);
        }
        @include d {
            padding: rem(40);
        }
        @include t {
            padding: rem(40) rem(24);
        }
    }
}

.wrap {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: rem(80);
    background: $n2;
    @include xl {
        padding: rem(64);
    }
    @include w {
        padding: rem(64) rem(40);
    }
    @include d {
        padding: rem(40);
    }
    @include t {
        min-height: auto;
        padding: rem(40) rem(24);
    }
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(64);
    @include xl {
        margin-bottom: rem(48);
    }
    @include w {
        margin-bottom: rem(32);
    }
    @include m {
        display: block;
    }
}

.title {
    @include d {
        @include h1S;
    }
    @include m {
        margin-bottom: rem(16);
    }
}

.menu {
    margin: 0 rem(-40) auto;
    @include xl {
        margin: 0 rem(-32) auto;
    }
    @include w {
        margin: 0 rem(-20) auto;
    }
    @include t {
        margin: 0 rem(-12) rem(24);
    }
}

.avatar {
    width: rem(200);
    height: rem(200);
    margin-top: rem(24);
}

.button {
    @include m {
        width: 100%;
    }
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(100);
    padding: 0 rem(40);
    border-radius: rem(20);
    color: $n5;
    cursor: pointer;
    transition: box-shadow .2s, background .2s, color .2s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include xl {
        padding: 0 rem(32);
    }
    @include w {
        height: rem(72);
        padding: 0 rem(20);
        border-radius: rem(12);
        @include body1M;
    }
    svg {
        fill: $n5;
        transition: fill .2s;
    }
    &:hover,
    &.active {
        color: $n7;
        svg {
            fill: $n7;
        }
    }
    &.active {
        // @include shadow2;
        background: $n1;
    }
}

.section {
    position: relative;
    &:not(:last-child) {
        margin-bottom: rem(80);
        @include w {
            margin-bottom: rem(64);
        }
    }
}

.anchor {
    position: absolute;
    top: rem(-40);
    left: 0;
    right: 0;
    @include t {
        top: rem(-24);
    }
}

.label {
    margin-bottom: rem(24);
    @include button;
    color: $n4;
}
