@use "@/styles/helpers" as *;

.logo {
    display: block;
    flex-shrink: 0;
    width: rem(32);
    font-size: 0;
    svg {
        width: rem(32);
        min-width: rem(32);
        height: auto;
        fill: $n8;
    }
    &.light {
        svg {
            fill: $n1;
        }
    }
}
