@use "@/styles/helpers" as *;

.row {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    @include t {
        display: block;
    }
}

.col {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    width: 50%;
    padding: rem(80);
    @include xl {
        padding: rem(64);
    }
    @include w {
        padding: rem(40);
    }
    @include t {
        width: 100%;
        padding: rem(40) rem(24);
    }
}

.logo {
    margin-bottom: auto;
    @include t {
        margin: 0 0 rem(40);
    }
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(24);
    @include m {
        display: block;
    }
}

.arrow {
    margin: rem(8) 0 0 rem(20);
    @include m {
        margin: rem(24) 0 0;
    }
}

.info {
    max-width: rem(450);
    @include body1;
    @include w {
        @include body1M;
    }
    @include m {
        @include body1S;
    }
}

.cookies {
    display: flex;
    justify-content: space-between;
    margin-top: rem(48);
    padding: rem(16);
    background: $o7-50;
    border-radius: rem(12);
    @include m {
        margin-top: rem(40);
    }
    &.hide {
        display: none;
    }
}

.accept {
    @include caption;
    color: $n1;
    transition: color .2s;
    &:hover {
        color: $s2;
    }
}

.text {
    @include caption;
    color: $n5;
    span {
        color: $n1;
    }
}

.back {
    position: absolute;
    top: rem(32);
    right: rem(32);
    z-index: 15;
    border-color: $n7;
    background: $n8;
    @include w {
        top: rem(16);
        right: rem(16);
        width: rem(48);
        height: rem(48);
    }
    svg {
        fill: $n1;
    }
    &:hover {
        background: $n7;
    }
}
