@use "helpers" as *;

html {
    font-size: calc(.9rem + .4vw);
    @include r(2400) {
        font-size: calc(.8rem + .4vw);
    }
    @include r(2200) {
        font-size: calc(.67rem + .4vw);
    }
    @include r(1940) {
        font-size: calc(.6rem + .4vw);
    }
    @include r(1740) {
        font-size: calc(.6rem + .4vw);
    }
    @include xl {
        font-size: 16px;
    }
}
    
body {
    background: $n1;
    @include inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.5;
    color: $n7;
}

img {
    display: block;
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

textarea,
input,
button {
    font-family: inherit;
}

button {
    background: none;
}
