@use "@/styles/helpers" as *;

.item {
    display: flex;
    align-items: center;
    padding: rem(24);
    border-bottom: rem(1) solid $n3;
    color: $n7;
    transition: color .2s;
    @include t {
        border-color: $o6;
        color: $n1;
    }
    &:hover {
        color: $s2;
    }
}

.preview {
    position: relative;
    flex-shrink: 0;
    width: rem(64);
    height: rem(64);
    margin-right: rem(16);
    img {
        border-radius: rem(12);
    }
}

.title {
    @include body2Bold;
}

.content {
    @include base;
    color: $n7;
    @include t {
        color: $n5;
    }
    span {
        color: $n5;
        @include t {
            color: $n5;
        }
    }
}
