@use "@/styles/helpers" as *;

.fieldset {
    margin-bottom: rem(80);
    @include w {
        margin-bottom: rem(64);
    }
}

.field {
    &:not(:last-child) {
        margin-bottom: rem(24);
    }
}

.label {
    margin-bottom: rem(24);
    @include button;
    color: $n4;
}
